/* Estilos generales */
.checkout-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* Resumen de compra */
  .purchase-summary {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .purchase-summary h3 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .purchase-summary ul {
    list-style-type: none;
    padding: 0;
  }
  
  .purchase-summary li {
    margin-bottom: 10px;
  }
  
  .purchase-summary h4 {
    text-align: center;
  }
  
  /* Estilos del form */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .checkout-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
  
  .checkout-btn:hover {
    background-color: #218838;
  }
  